body {
    /*background-color: #d3d3d3;*/
    /*color: whitesmoke;*/
    /*font-family: 'Inter Tight', sans-serif;*/
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "Helvetica", sans-serif;!important;
    margin: 0;
    padding: 0;
    background-color: #262626;
}
#section-bg-img-1 {
    height: 101vh;
    /*height: 100%;*/
    /*min-height: 800px;*/
    /*min-height: 101vh;*/
    z-index: 0;
    background-image: url(images/intro-xl.jpg);
}
#section-bg-2{
    min-height: 700px;
    background-color: black;
    width: 100%;
}
#section-bg-img-3 {
    /*height: 100%;*/
    min-height: 700px;
    /*min-height: 101vh;*/
    z-index: 0;
    background-image: url(images/mac-bg.jpg);
    opacity: 100%;
}
#section-bg-4{
    min-height: 700px;
    background-color: black;
    width: 100%;
}
#section-bg-img-5 {
    /*height: 100%;*/
    min-height: 1500px;
    /*min-height: 101vh;*/
    z-index: 0;
    background-image: url(projects-xl.jpg);
    /*opacity: 80%;*/
}
.bg-img {
    width: 100%;
    /*height: 100%;*/
    /*min-height: 100%;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
#section-container-1 {
    /*position: relative;*/
    /*top: -50%;*/
    height: 100%;
    /*height: 101vh;*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
}
#main-section-name {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    /*font-size: clamp(56px, 8vw, 80px);*/
    font-size: 80px;

}
.animate-up {
    animation-name: fade-in-up;
    animation-fill-mode: backwards;
    animation-duration: .9s;
    animation-delay: .4s;
}
.animate-down {
    animation-name: fade-in-down;
    animation-fill-mode: backwards;
    animation-duration: .9s;
    animation-delay: .4s;
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#main-section-title {
    font-size: 20px;
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(-35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
#section-container-2 {
    height: 100%;
    display: flex;
    color: lightgrey;
}
.padded-container {
    padding: 100px;
    width: 100%;
}
#about-img {
    height: 250px;
    border-radius: 50%;
}
#mobile-about-img {
    display: none;
}
#about-title {
    font-size: 50px;
    padding-bottom: 15px;
}
#about-summary {
    font-size: 20px;
    padding-bottom: 15px;
}
.about-text {
    /*padding: 10px 0 10px 0;*/
    font-weight: 300;
    line-height: 1.5em;
    color: lightgray;
    font-size: 17px;
}
#about-section {
    width: 70%;
    /*margin-right: 75px;*/
}
#about-img-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}
.blue-line {
    width: 100px;
    margin: 15px 0 25px 0;
    border-bottom: solid 3px #00b7c7;
    /*height: 200px;*/
}
.white-line {
    height: 10px;
    border-bottom: solid lightgrey 2px;
    margin: 25px 50px 25px 50px;
}
#section-container-3 {
    height: 100%;
    display: flex;
    color: lightgrey;
}
#story-title {
    font-size: 50px;
    padding-bottom: 15px;
}
#story-container {
    display: flex;
    justify-content: center;
}
#stories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.story-container{
    width: 49%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    /*border: solid 1px white;*/
}
.story-container:nth-child(2) {
    border-left: solid white 1px;
}
/*.story-container:nth-child(3) {*/
/*    border-right: solid white 1px;*/
/*    border-top: solid white 1px;*/
/*}*/
/*.story-container:nth-child(4) {*/
/*    border-top: solid white 1px;*/
/*}*/
.story-name {
    width: 100%;
    padding: 25px;
    font-size: 20px;
}
.story-description {
    padding: 0 25px 25px 25px;
    font-weight: 300;
    line-height: 1.5em;
    color: lightgray;
    font-size: 17px;
}
#section-container-4 {
    /*height: 100%;*/
    display: flex;
    color: lightgrey;
    /*background-color: darkred;*/
}
#skills-title {
    font-size: 50px;
    padding-bottom: 15px;
}
#skills-main-container {
    display: flex;
    /*flex-direction: column;*/

}
#skill-container-1 {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 50%;
    justify-content: center;
    align-items: center;
    /*background-color: #00b7c7;*/
}
#skill-sub-container-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    /*background-color: #00b7c7;*/
    margin-right: 20px;
}
.skill-title {
    width: 100%;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
}

.skill-circle {
    border: solid grey 2px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.skill-container-2-3 {
    width: 25%;
    /*background-color: rebeccapurple;*/
    display: flex;
    flex-direction: column;
}
.skill-text {
    padding: 5px;
    font-weight: 300;
}
i {
    padding-right: 7px;
}
#section-container-5 {
    display: flex;
    color: lightgrey;
}
#projects-title {
    font-size: 50px;
    padding-bottom: 15px;
}
.rect {
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*max-width: 800px;*/
    width: 100%;
    transform: translateX(25px);
    border-radius: 3px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
.another-rec {
    transform: translateX(-35px);
    border-radius: 3px;
    box-shadow: 0 6px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*width: 30%;*/
    /*position: absolute;*/
    /*position: relative;*/
    /*top: 120px;*/
    /*left: 700px;*/
    /*max-width: 300px;*/
    width: 100%;
}
.project-container {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 75%;
}
.img-container-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.img-container-2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.project-description-container {
    display: flex;
    padding-top: 50px;
    width: 100%;
}
.project-title {
    width: 65%;
    font-size: 34px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.project-btn-container {
    display: flex;
    width: 35%;
    justify-content: end;
}
.btn {
    cursor: pointer;
    border: #00b7c7 solid 2px;
    background-color: #181818;
    padding: 10px;
    margin: 20px;
    width: 65px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #00b7c7;
    text-decoration: none;
}
.btn:hover {
    background-color: #00b7c7;
    color: white;

}
.project-margin {
    margin-left: 25px;
}
.project-description-container-2 {
    display: flex;
    margin-top: 10px;
    padding-top: 25px;
    width: 100%;
    background-color: rgba(38, 38, 38, 0.58);
    /*background-color: black;*/
    border-radius: 5px;
}
.project-description-container-3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
}
.project-development {
    /*width: 50px;*/
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #262626;
    color: grey;
    font-size: 13px;
    text-align: center;
}
#footer {
    background: linear-gradient(45deg,#00b7c7 0,#4d0ce8 100%);
    height: 200px;
    min-height: 100px;
    color: #f2f2f2;
    overflow: hidden;
}
#footer-wrapper {
    /*padding: 30px 0 40px;*/
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

}
#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.social-link {
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 80%;
}
.social-link:hover {
    opacity: 1;
}
.link {
    color: white;
    font-size: 32px;
}
#cr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
    font-weight: 300;
    font-size: 18px;
}








/* = = = = = = = = = = NAVBAR = = = = = = = = = = =*/
.toggle{
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
}
.toggle a{
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    /*left: -100%;*/
    left: 100%;
    width: 100%;
    height: 100%;
    background: #262626;
    opacity: 90%;
    z-index: 1;
    transition: 0.5s;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
ul li a:hover{
    color: lightgray;
    /*background: #FFFC85*/
}
.menu.active{
    left: 0;
    overflow: auto;
}

.fa-bars {
    color: white;
}

#navbar {
    display: none;
}







@media screen and (max-width: 55em) {
    /*#section-container-1 {*/
    /*    padding-top: 150px;*/
    /*    justify-content: start;*/

    /*}*/
    /*#section-bg-img-1 {*/
    /*    height: 700px;*/
    /*}*/
    .flex-row {
        flex-direction: column;
    }
    .padded-container {
        padding: 50px 15px 50px 15px;
        width: 100%;
        text-align: center;
    }
    #about-title {
        padding-bottom: 50px;
    }
    #about-img {
        display: none;
    }
    #mobile-about-img {
        display: revert;
        padding: 25px 15px 25px 15px;
        height: 250px;
        border-radius: 50%;
    }
    /*#about-section {*/
    /*    margin-right: 0;*/
    /*}*/

    #about-section {
        width: 90%;
        /*margin-right: 75px;*/
    }
    #about-img-container {
        width: 100%;
    }

    #navbar {
        display: revert;
    }


    #stories {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .story-container {
        width: 100%;
    }
    .story-container:nth-child(2), .story-container:nth-child(3), .story-container:nth-child(4) {
        border: none;
    }
    .story-name {
        padding: 25px 0 25px 0;
    }

    #skills-main-container {
        flex-direction: column;
    }
    .skill-container-2-3 {
        width: 100%;
    }
    #skill-container-1 {
        width: 100%;
    }
    .skill-title {
        padding-top: 25px;
    }
    #skill-sub-container-1 {
        margin-right: 0;
    }
    .skill-circle {
        height: 75px;
        width: 75px;
    }
    .skill {
      font-size: 14px;
    }
    .project-description-container {
        flex-direction: column;
    }
    .project-title {
        width: 100%;
        justify-content: center;
    }
    .project-btn-container {
        width: 100%;
        justify-content: space-evenly;
    }
    .project-margin {
        margin-left: 0;
    }
    .img-container-1 {
        width: 75%;
    }
    .img-container-2 {
        width: 25%;
    }


}