body {
    background-color: #d3d3d3;
    /*color: whitesmoke;*/
    font-family: 'Inter Tight', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}
h2, h3 {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    padding: 0;
    margin: 0;
}

